.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
node_modules
.idea/codeStyles/Project.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
templates/flutter/owl_flutter/.idea/workspace.xml
templates/flutter/owl_flutter/.idea/workspace.xml
